    body {background-color: #FFFCDC; margin:0px; max-width:none; min-height: none;} 
    hr { background-color: #FFFCDC; color: grey; border-style:dotted none none none; border-width: 9px; height: 0px; width: 45%;}  
    img{height: 250px; width: 250px;}